#one
{
    margin-left: 20pt;
    align-content: center;
    background-color: blueviolet;
    color:azure
}


table
{
    background-color: tomato;
    border-style: double;
   
   
}
